* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* heading part */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 850px;
    background-color: #FDEEF1;
}

.banner-img {
    width: 635px;
    margin-top: 50px;
    margin-right: 120px;
}

.banner-text {
    width: 50%;
    padding: 30px;
    margin-left: 120px;
}

.banner-tittle {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    width: 54%;
    margin-bottom: 25px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 64%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 33px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 17px;
    border: none;
}

/* featured part */
/* .featured-container {
    max-width: 80%;
    margin: auto;
} */

.featured-text {
    text-align: center;
    margin-top: 80px;
}

.tittle {
    color: #272727;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-top: 5px;
}

.flower-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.flower-boxes img {
    height: 400px;
    width: 300px;
}

.flower-box1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 70px 0 70px;
}

.flower-box2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 70px 0 70px;
}

.flower-box3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 110px 70px 0 70px;
}

.flower-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.flower-box a {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* delivery and support part */

.delivery-support-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 73%;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background: rgba(39, 39, 39, 0.05);
}

.option {
    padding: 50px;
}

.option-image {
    width: 80px;
    padding: 10px 0;
    padding-left: 80px;
}

.option-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* sales part */

.sales-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 620px;
    margin: 120px 0;
    background: rgba(229, 84, 115, 0.05);
}

.sales-img {
    width: 318px;
    margin-top: 40px;
    margin-right: 300px;
    padding: 20px;
}

.sales-text {
    width: 50%;
    margin-left: 120px;
    text-align: center;
}
.color{
    color: #E55473;
}

.sales-tittle {
    padding: 10px 0;
}

.sales-description {
    padding: 10px 0;
    width: 62%;
    margin: auto;
    margin-bottom: 15px;
}